In [1]:
import pandas as pd
import numpy as np
from sklearn import svm
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [2]:
weather_data = pd.read_csv('PowerClimateJaipur.csv')

In [3]:
weather_data.head()

,YEAR,MO,DY,T2M,T2MDEW,T2M_MIN,T2M_MAX,QV2M,PRECTOTCORR,PS,WS50M_MAX,WS50M_MIN,WS10M
0,1985,1,1,12.36,-2.92,5.68,21.50,3.23,0.00,96.89,7.97,3.25,3.35
1,1985,1,2,11.18,-7.24,4.64,20.35,2.26,0.00,97.19,8.47,0.76,3.15
2,1985,1,3,11.23,-8.38,5.12,19.85,2.01,0.00,97.19,7.74,0.46,2.54
3,1985,1,4,12.77,-6.98,5.69,20.59,2.26,0.00,96.91,6.34,1.61,2.80
4,1985,1,5,13.75,-1.00,7.94,22.08,3.72,0.01,96.81,8.22,1.06,2.95

In [4]:
weather_data = weather_data.drop(['YEAR', 'MO', 'DY'], axis=1)

In [5]:
weather_data.dropna(inplace=True)
X = weather_data[['T2M', 'T2MDEW', 'T2M_MIN', 'T2M_MAX', 'QV2M', 'PRECTOTCORR', 'PS', 'WS50M_MAX', 'WS50M_MIN', 'WS10M']]
y = weather_data['PRECTOTCORR']

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [7]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [8]:
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.neural_network import MLPRegressor

In [9]:
svm = SVC()

In [10]:
param_grid = {
    'hidden_layer_sizes': [(10,), (20,), (30,), (40,), (50,), (60,), (70,), (80,), (90,), (100,)],
    'activation': ['relu', 'logistic', 'tanh'],
    'solver': ['lbfgs', 'adam', 'sgd'],
    'alpha': [0.0001, 0.001, 0.01, 0.1],
    'learning_rate': ['constant', 'adaptive']
}

In [11]:
regressor = MLPRegressor(max_iter=500)

In [ ]:
grid_search = GridSearchCV(regressor, param_grid, cv=5, n_jobs=-1, verbose=2)
grid_search.fit(X_train, y_train)

Fitting 5 folds for each of 720 candidates, totalling 3600 fits

In [ ]:
y_pred = model.predict(X_test)

In [15]:
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

In [16]:
print('Mean Absolute Error:', mae)
print('Mean Squared Error:', mse)
print('R-squared Score:', r2)

Mean Absolute Error: 0.10784313725490197
Mean Squared Error: 0.13725490196078433
R-squared Score: 0.9963875606104972